@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src:
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #ffffff;
  color: #283645;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  box-sizing: border-box;
  width: @mobile-width;
  margin: auto;
  padding-left: @mobile-padding;
  padding-right: @mobile-padding;
}

.bg-triangle {
  position: relative;
}

.bg-triangle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;

  border-right: 100vw solid #f2f2f2;
  border-top: 8vw solid transparent;
}

@media (min-width: @tablet-width) {
  .container {
    width: @tablet-width;
    padding-left: @tablet-padding;
    padding-right: @tablet-padding;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: @desktop-width;
    padding-left: @desktop-padding;
    padding-right: @desktop-padding;
  }
}
